.flexContainerMain{
    flex-direction: row;
    flex-flow: row wrap;
    border: 10px solid blue;
    display: flex;
    min-width: 500;
    justify-content: center;
    padding: 10px;
    
}

.flexContainerCard{
    border: 2px solid rgba(189, 181, 181, 0.952);
    font-size: 1rem;    
    width: 350px;
    height: 350px;
    display: flex;
    padding: 10px;
    flex-direction:column-reverse;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
}

.flexContainerImage{
    border: 2px solid rgba(189, 181, 181, 0.952);
    font-size: 1rem;
    width: 70px;
    justify-content: center;
    padding: 50px;
    margin-top: 0px;
    margin-left: 75px;
    margin-bottom: 20px;
}

.flexContainerBottom{
    border: 2px solid purple;
    flex-direction: row;
    margin-right: 5px;
    display: flex;
    flex-flow: wrap;
    width: 345px; 
    height: auto;
    justify-content: space-between;   
    
}

.flexContainerBottomTitle{
    border: 2px solid rgba(189, 181, 181, 0.952);
}

.flexContainerBottomButton{
    border: 2px solid violet;
    width: 100px; 
    height: 14;   
    
}
.flexContainerBottomCount{
    border: 2px solid yellow;
    width: 100px;    
    color:green;
    font-size: 7px;
    height: 14;  
}